.top-nav             {
  *                  { box-sizing:border-box; }
  .community-modal   { z-index: 1;  position:fixed; background:#2FC9C9; padding:47px 60px 60px 60px; margin: auto; top: 0; left: 0; bottom: 0; right: 0; width:447px; height:330px; @include drop-shadow();
                   display:flex; flex-direction:column; justify-content:space-around; font-weight:bold;
    a                { font-size:21px; color:#95FFFF; line-height:0; display:flex; flex-direction:row; align-items:center; text-decoration:none; margin:0; cursor:pointer;
      .icon          { width:50px; text-align:center; margin-right:10px;
        svg          { float:left;
          *          { fill:#95FFFF; }
        }
      }
      &:hover        { color:white;
        .icon        {
          svg *      { fill:white;}
        }
      }
    }
    .close           { position:absolute; right:10px; top:10px; cursor:pointer;
      &:hover        {
        svg *        { fill:white; }
      }
    }
  }
  // smaller than 500px
  @media screen and (max-width: 500px)
                     {
    .community-modal { width:290px; height:170px; padding:27px 20px 30px;
      a              { font-size:15px;
        .icon        { width:30px; }
      }
    }
  }
  .hidden            { display:none; }
}
