.top-nav
  .logo
    a(href="//nanobox.io")
      img.shadow-icon(data-src="logo-horizontal")
  .nav
    a(href="//docs.nanobox.io/") Docs
    a(href="//nanobox.io/downloads") Download
    a.open-community(onclick=' $(".community-modal").toggleClass("hidden"); ') Community
    a(href="//nanobox.io/engines") Engines
    a.sign-up(href="//dashboard.nanobox.io/users/sign_in") Login / Register
  .mobile-trigger
    .btn.mobile-open(onclick=' $(".top-nav").addClass("open"); ')
      img.shadow-icon(data-src="mobile-open")
    .btn.mobile-close(onclick=' $(".top-nav").removeClass("open"); ')
      img.shadow-icon(data-src="mobile-close")
  .community-modal.hidden
    .close(onclick=' $(".community-modal").toggleClass("hidden"); ')
      img.shadow-icon(data-src="close-btn" )
    a.source(href="//github.com/pagodabox?utf8=%E2%9C%93&query=nanobox" target="_BLANK")
      .icon
        img.shadow-icon(data-src="git-big" scalable="true" )
      .txt Source Code
      
    a.irc(href="//webchat.freenode.net/?channels=nanobox" target="_BLANK")
      .icon
        img.shadow-icon(data-src="irc-big", scalable="true" )
      .txt IRC : #nanobox <span>(freenode)</span>
      
    a.trello(href="//trello.com/b/4nVFzmNZ/nanobox" target="_BLANK")
      .icon
        img.shadow-icon(data-src="trello" scalable="true" )
      .txt Track Progress on Trello
