.top-nav
  .logo
    a(href="//desktop.nanobox.io")
      img.shadow-icon(data-src="logo-horizontal")
  .nav
    .left
      .main
        a.active(href="#") Desktop
        a(href="#") Cloud
      .secondary
        a(href="//docs.nanobox.io/") Docs
        a(href="//desktop.nanobox.io/downloads") Download
        a.open-community(onclick=' $(".community-modal").toggleClass("hidden"); ') Community
        a(href="//engines.nanobox.io") Engines
    .right
      a.sign-up(href="//dashboard.nanobox.io/users/sign_in") Login / Register
  .mobile-trigger
    .btn.mobile-open(onclick=' $(".top-nav").addClass("open"); ')
      img.shadow-icon(data-src="mobile-open")
    .btn.mobile-close(onclick=' $(".top-nav").removeClass("open"); ')
      img.shadow-icon(data-src="mobile-close")
