doctype html
html(lang="en")
  
  head
    title Top Nav

    //build:remove
    link(href="bower-libs/shadow-icons-engines/rel/nanobox-engines.css", rel="stylesheet")
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    // build:css style.css
    link(href="css/main.css", rel="stylesheet")
    // endbuild

  body
    .wrapper
    // build:remove
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/shadow-icons-library/rel/app.js")
    script(src="bower-libs/shadow-icons-engines/rel/nanobox-engines.js")
    // endbuild

    // build:js2 js/app.js
    script(src="js/jade-templates.js")
    script(src="js/app.js")
    // endbuild
    
    // build:remove 
    script(src="stage/js/init.js")
    script(src="http://localhost:35729/livereload.js")
    // endbuild
